{% extends "base.html" %}

{% block content %}
<div class="header-painting">
    <h1>Painting</h1>
    <h2>Learn about visual arts during gothic movement.</h2>
</div>
<br>

<div class="row">
    <div class="col">
       <img src="https://i.pinimg.com/564x/ba/35/d5/ba35d5b1c2e87a01f5c2d0c37171dab0.jpg" class="rounded float-left" alt="history1">
       <img src="https://i.pinimg.com/564x/d8/aa/ea/d8aaeade9df5b7dc4de89c5db2877ea0.jpg" class="rounded float-left" alt="history2">
       <img src="https://i.pinimg.com/564x/41/9a/88/419a886ee3cb7d8051e07f7be593b691.jpg" class="rounded float-left" alt="history3">
       </div>
       <div class="col">
        <p>Like architecture and sculpture, paintings also had a strongly religious context. In technical terms, the paintings appear years after architecture, following in the footsteps of Romanticism, without breaking away from this other movement. It first appeared in 1200 in England and France, in the Roman-German Empire in 1220 and in Italy around 1300. The transition from Romanticism to Gothic in the plastic arts brought a darker style than the previous one. Another evident characteristic is the naturalism of the 13th century, which extended until the 15th century.</p>
        <p>The plastic art forms (involving painting) in this style were frescoes, panels, stained glass and the manuscript illuminations. Fresco is a painting technique on walls and ceilings made of plaster or covered with mortar that are painted while they are still wet, widely used in the interiors of churches, especially on the ceilings of chapels. The panels, in turn, were paintings made under the wood behind the altar, refined, and decorated with gold around the images. Stained glass, on the other hand, mixed painting with the craftsmen's art of molding (or blowing) glass, creating sheets of colored, painted glass and joining them together using lead welding. They were placed in the windows of churches, for religious teaching purposes. And the illuminations, which was the painting initially carried out in monasteries, to decorate and ornament writing, art in calligraphy.</P>
        <p>The main names of gothic visual artists (who would not remain anonymous) are:</p>
        <p>Limbourg Brothers, Hans Holbein, Gentile da Fabriano</p>
    </div>
    <div class="col">
      <img src="https://i.pinimg.com/564x/15/12/9b/15129b5d638fb976f3a344c893b7e4ee.jpg" class="rounded float-right" alt="history4">
      <img src="https://i.pinimg.com/564x/72/5f/94/725f94e715d00ee22331105baaf082a9.jpg" class="rounded float-right" alt="history5">
      <img src="https://i.pinimg.com/564x/5d/61/88/5d618847d8a8e0219db9bd59c30b60ec.jpg" class="rounded float-right" alt="history6">
    </div>
</div>

{% endblock %}
