{% extends "base.html" %}

{% block content %}
<div class="header-architecture">
   <h1>Architecture</h1>
   <h2>Learn about the  gothic buildings!</h2>
</div>
<br>
<div class="row">
   <div class="col">
      <img src="https://i.pinimg.com/564x/b3/9b/d9/b39bd98e6dd877cdc9c3b47b0055fdf4.jpg" class="float-left" alt="architecture1">
      <img src="https://i.pinimg.com/564x/ef/be/ac/efbeacbaac4a5d6c820c59d9fabfb8bd.jpg" class="float-left" alt="architecture2">
      <img src="https://cdn.britannica.com/83/178983-050-90554452/buttresses-facade-London-Westminster-Abbey.jpg" class="float-left" alt="architecture3">
      <img src="https://i.pinimg.com/564x/0a/ed/8c/0aed8cbe15172cd2c16c7b8216bfa0d9.jpg" class="float-left" alt="architecture4">
      </div>
      <div class="col">
         <p>This architecture developed in Europe, in the Low Middle Ages. It received the name “Gothic” years later, being called that in a pejorative way, by the Renaissance people who judged the works as “barbaric” and grotesque, just as they considered the “Goths”. Originally its name was “French-style”. The style was built amid the dominance of Catholicism, thus, the architectural works were cathedrals, chapels and churches. The main objectives behind aesthetic choices were precisely related to religiosity.</p>
         <p>The main motivation was to create a temple, precisely as “God's house”, and therefore they needed grandiose buildings. This same reason led to many works being unfinished, or taking a century to complete. Well, there was no way to create a place that contained God, since it would probably never fit, so they would always leave room to do “more”. The idea of ​​continuity, as a way of representing infinity.</p>
         <p>Constructions with high columns, arches and other vertical elements that sought to represent the connection with the heavenly. The stained glass windows and windows aim to bring light into the building, also a divine representation, that God is light, which is why they valued the search for illuminated environments in these works. The stained glass windows often told stories or taught visually about the Bible, since a large part of the population did not know how to read. It is worth remembering that this style was not “standardized”, depending on the country, the works had specificities, and in the same country there were singularities.</p>
         <p>An example of a building (which was not destroyed) from the beginning of this style is the Abbey of Saint-Denis in Paris. This extravagant and detailed style was left aside to make room for works with straight, light lines, with architecture referencing the classical era. However, there was a revival of Gothic architecture in the 19th and 20th centuries, in the United States, seeking to imitate cathedrals in the construction of other buildings. Characteristic elements such as the sculptures that adorned the cathedrals will be covered in Sculpture. Here are some buildings and their images.</p>
      </div>
</div>
{% endblock %}
