{% extends "base.html" %}

{% block content %}
<div class="header-dance">
    <h1>Dance</h1>
    <h2>An unexplored subject!</h2>
</div>
<br>
<div class="row">
    <div class="col">
       <img src="https://i.pinimg.com/564x/f2/47/d0/f247d008795242694a6193744c1ff870.jpg" class="rounded float-left" alt="history1">
       <img src="https://i.pinimg.com/564x/d1/5c/31/d15c316c32617bfb306b12b76b7bffeb.jpg" class="rounded float-left" alt="history2">
       <img src="https://i.pinimg.com/564x/cb/5a/0f/cb5a0f375bd1f222a16cf2a3902260c0.jpg" class="rounded float-left" alt="history3">

       </div>
    <div class="col">
        <p>Gothic dance, regarding the period of the artistic movement, was not recorded. There are some records about ancient dances, which include dances in the centuries where Gothic art emerged, which were also linked to religiosity (representations of the Old Testament and other parts of the Bible). I didn't find anything “serious” about the subject. But there are many videos of members of the subculture teaching or showing popular dance moves in the goth scene. Therefore, the influence of gothic rock from the 80s. You can see a big influence of goth cinema in the moves, even more from the german expressionism. But here are some videos that involve dancing:</p>
        <a href="https://youtu.be/tWxYQIc6yMs?si=AAoT2eY1-0gbsU7p">A Tribute to 80s/90s goth dance</a>
        <br>
        <a href="https://youtube.com/shorts/7q3bDBvz2GA?si=oQunkXHmk2pTvNMR">Tutorial</a>
        <br>
        <a href="https://youtube.com/shorts/A1MzKHEPRGI?si=GdTQOnVs3MjqFQQB">More examples</a>
    </div>
</div
{% endblock %}
