{% extends "base.html" %}

{% block content %}
<div class="header-fashion">
   <h1>Fashion</h1>
   <h2>What about the aesthetic and style?</h2>
</div>
<br>

<div class="row">
   <div class="col">
      <img src="https://i.pinimg.com/564x/b6/e0/df/b6e0dfed7dbfb4a20dcf3e68e05feb7d.jpg" class="rounded float-left" alt="history1">
      </div>
      <div class="col">
         <p>Aesthetics are not the main part of the gothic subculture, but it is one of the means of expressing oneself. From hair, makeup, accessories, clothes and shoes. It is worth mentioning that a large part of the basis of these styles is music (specifically focused on aspects within Gothic) and other arts such as literature and cinema. It is often more of a stereotype and not something that members of the subculture are characteristic of being part of.</p>
	      <p>With a lot of influence from German expressionism, from cinema mainly, during the 80s, the style we call Trad Goth (traditional gothic) emerged. Bands like Bauhaus, Siouxsie and The Banshees, The Sisters of Mercy were major influences on the expressiveness of this subculture in appearance. As the artists themselves came from a great punk influence, this also came from the style. Fishnet blouses and tights, leather jackets, piercings, heavy makeup, big, voluminous hairstyles. Colors like black are predominant in clothes and often in makeup.</p>
	      <p>Romantic Goth is mainly influenced by Victorian literature and cinema. It seeks to rescue elements present in Victorian fashion, more as a “reinterpretation” than as a historically correct costume. Fluid fabrics, some ruffles, velvet, bows, lace. In music, musical influences range from gothic (Love Spirals Downwards, All About Eve) to classical music (Bach). In this style, colors are not restricted to black, red, blue, purple and even green, even if in dark tones, are common.</p>
	      <p>The last aspect we will mention here is Cyber ​​Goth. A style that mainly enhances Industrial music, which is also gothic. Electronic, futuristic music, technology with deep thoughts and ideas at the core of gothic. With many neon colors mixing with black and silver (metallic), makeup with abstract elements (which refer to technology and futurism), different, colorful hairstyles, using hairpieces, bright and colorful accessories. Very related to raves and dance-oriented events.</p>
	      <p>It is worth mentioning other aspects of Gothic styles such as: vampire, medieval, pastel, white, victorian, steampunk, mopey, among others.</p>
      </div>
      <div class="col">
        <img src="https://i.pinimg.com/564x/34/de/bd/34debdff6c8420ac72bc2014e81f6ca6.jpg" class="rounded float-right" alt="history4">
        <img src="https://i.pinimg.com/564x/f2/4f/ec/f24fecee2df8d398dc389fe9eea81194.jpg" class="rounded float-right" alt="history5">
        <img src="https://i.pinimg.com/564x/4d/c7/5f/4dc75fabae4af79a399bddaaefc7f8e5.jpg" class="rounded float-right" alt="history6">
      </div>
      </div>
    </div>
</div>
{% endblock %}
