* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #212121;
    padding: 10px;
}

a {
    color: #848a90;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


a:link {
  color:#848a90;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7b99ba;
  background-color: transparent;
  text-decoration: underline;
}

</style>
element.style {
}
.bg-light {
    background-color: #f3f2ee!important;
}
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 21rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #f3f2ee;
    opacity: 0.85;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

/*  HEADERS  */

h1, h2, h6, p{
    font-family:  "Times New Roman", serif;
}
/*  HOMEPAGE  */
.header {
    background-color: #f3f2ee;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 42px;
    color: #212121;
    text-align: center;
}

.header h2 {
    font-size: 26px;
    color: #4e3c3cf0;
    text-align: center;
}

/*  HISTORY  */
.header-history {
    background-color: #273953;
    text-align: center;
    padding: 20px;
}

.header-history h1 {
    font-size: 42px;
    color: #fff4e4;
    text-align: center;
}

.header-history h2 {
    font-size: 26px;
    color: #e5d5ba;
    text-align: center;
}

/*  ART  */
.header-art {
    background-color: #f3f2ee;
    text-align: center;
    padding: 20px;
}

.header-art h1 {
    font-size: 42px;
    color: #771759;
    text-align: center;
}

.header-art h2 {
    font-size: 26px;
    color: #212121de;
    text-align: center;
}

/*---------- ARCHITECTURE ----------*/
.header-architecture {
    background-color: #452553;
    text-align: center;
    padding: 20px;
}

.header-architecture h1 {
    font-size: 42px;
    color: #f7f1dee3;
    text-align: center;
}

.header-architecture h2 {
    font-size: 26px;
    color: #baa76c;
    text-align: center;
}

/* ---------- CINEMA ----------- */
.header-cinema {
    background-color: #531919;
    text-align: center;
    padding: 20px;
}

.header-cinema h1 {
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}

.header-cinema h2 {
    font-size: 26px;
    color: #a99ba6;
    text-align: center;
}

/* ---------- DANCE ------------ */
.header-dance {
    background-color: #18544d;
    text-align: center;
    padding: 20px;
}

.header-dance h1 {
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}

.header-dance h2 {
    font-size: 26px;
    color: #ddc2a8;
    text-align: center;
}
/* ---------- LITERATURE ---------- */
.header-literature {
    background-color: #701e59;
    text-align: center;
    padding: 20px;
}

.header-literature h1{
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}c

.header-literature h2{
    font-size: 26px;
    color: #ddc2a8;
    text-align: center;
}

/* ---------- MUSIC ------------ */
.header-music {
    background-color: #8b5031;
    text-align: center;
    padding: 20px;
}

.header-music h1 {
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}

.header-music h2 {
    font-size: 26px;
    color: #332a0eb8;
    text-align: center;
}

/* ---------- PAINTING ---------*/
.header-painting {
    background-color: #1e496a;
    text-align: center;
    padding: 20px;
}

.header-painting h1 {
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}

.header-painting h2 {
    font-size: 26px;
    color: #332a0eb8;
    text-align: center;
}

/* ---------- SCULPTURE -------- */
.header-sculpture {
    background-color: #3d5627;
    text-align: center;
    padding: 20px;
}

.header-sculpture h1 {
    font-size: 42px;
    color: #e9e0de;
    text-align: center;
}

.header-sculpture h2 {
    font-size: 26px;
    color: #8b9589;
    text-align: center;
}

/* ---------- FASHION ---------- */
.header-fashion {
    background-color: #916431;
    text-align: center;
    padding: 20px;
}

.header-fashion h1 {
    font-size: 42px;
    color: #f3f2ee;
    text-align: center;
}

.header-fashion h2 {
    font-size: 26px;
    color: #433018;
    text-align: center;
}

/*  ABOUT US  */
.header-about {
    background-color: #2f4538;
    text-align: center;
    padding: 20px;
}

.header-about h1 {
    font-size: 42px;
    color: #fff4e4;
    text-align: center;
}

.header-about h2 {
    font-size: 26px;
    color: #d1b3c3;
    text-align: center;
}


h6 {
    font-size: 22px;
    color: #dbdbdb;
    text-align: center;
}

p {
    font-size: 20px;
    color: #dbdbdb;
    text-align: left;
}



/* ------ HOMEPAGE----- */

.container-fluid  p{
    font-size: 20px;
    color: #dbdbdb;
    text-align: center;
}
.card-img-top {
    width: 225px;
    height: 225px;
    border-radius: 0;
    margin-top: 50px;
}

.card-deck.card img {
    width: 100%;
}

.card-deck {
    display: flex;
    padding: 20px;
    gap: 100px;
}

.card-deck .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #391E1E;
    padding: 2rem 1.5rem;
    border-radius: 0px;
    max-height: 532px;
    min-width: 0px;
}

.card {
    box-shadow: 20px 20px 50px -25px #000;
}

.card-deck .card .card-text {
    color: #dfcdb1eb;
    font-weight: 500;
    max-width: 250px;
    font-size: 20px;
    text-align: center
}


.card-deck .card .btn {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 700;
    color: #391e1e;
    background: #f3f2ee;
    box-shadow: 4px 7px 20px 1px #00000085;
}


@media screen and (max-width: 745px) {
    .card-deck {
        flex-direction: column;
        gap: 25px;
    }

    .card-deck .card:first-child {
        margin-left: 0px;
    }

    .card-deck .card {
        padding: 50px;
        margin-bottom: 32px;
    }

    .cards-deck .card:last-child {
        margin-bottom: 0;
    }

}


/* ART PAGE */
main.cards {
    display: flex;
    padding: 20px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #916431;
    padding: 2rem 1.5rem;
    border-radius: 0px;
    max-height: 500px;
    margin-top: 50px;
    margin-left: 22.5px;
}

main.cards section.card:first-child {
    margin-left: 0px;
}

main.cards section.card .icon {
    width: 180px;
    height: 180px;
    border-radius: 0;
    margin-top: 40px;
}

main.cards section.card img {
    width: 100%;
}


main.cards section.card {
    box-shadow: 1px 1px 70px 20px #000;
}

main.cards section.card .btn {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 600;
    color: #391e1e;
    background: #eefce8;
    box-shadow: 4px 7px 10px 1px #00000085;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card:first-child {
        margin-left: 25px;
    }

    main.cards section.card {
        padding: 50px;
        margin-bottom: 16px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

}




/* HISTORY PAGE */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

.row .col img {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 720px) {
    .row {
        margin-right: 22px;
        margin-left: 22px;
        padding: 20px;
        flex-direction: row;
        gap: 10px;
    }

    .row .col:first-child {
        margin-top: 0;
        margin-left: 10px;
    }

    .row.col {
        padding: 10px;
        margin-bottom: 32px;
    }

    .row .col:last-child {
        margin-bottom: 0;
    }

    .row .col img {
        width: 120px;
        height: 120px;
    }

}

/* MUSIC PAGE */
.row-music {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

.row-music .col img {
    width: 400px;
    height: 400px;
}


@media screen and (max-width: 720px) {
    .row-music {
        margin-right: 22px;
        margin-left: 22px;
        padding: 10px;
        flex-direction: row;
        flex-basis: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;

    }

    .row-music .col:first-child {
        margin-top: 0;
        margin-left: 30px;
    }

    .row-music.col {
        padding: 10px;
        margin-bottom: 32px;
    }

    .row-music .col:last-child {
        margin-bottom: 20px;
        margin-right: 30px;;
    }

    .row-music .col img {
        width: 250px;
        height: 250px;
    }

}

.container {
    width: 70%;
}

