{% extends "base.html" %}

{% block content %}
<div class="header-about">
   <h1>About us</h1>
   <h2>Who and what is behind?</h2>
</div>
<br>
<div class="container">
   <img src="https://i.pinimg.com/564x/5a/f7/7c/5af77c8e274db339166df8ac936d5387.jpg" class="rounded-circle mx-auto d-block" alt="elvira">
</div>
   <br>
<div class="container">
   <h6>
      Hello! I'm Fernanda Oliveira. Nocturne World was created as my final project for CS50, an introductory Computer Science course. The aim was to bring information and knowledge from a subculture that suffers from prejudice and is unknown to many. And at the same time improve my programming skills. It was challenging, mainly because I had difficulties with the frontend when I first got in touch, but fortunately I managed to develop better until now. Thank you for reading and being interested.
   </h6>
</div>
{% endblock %}
