{% extends "base.html" %}

{% block content %}
<div class="header-history">
    <h1>History</h1>
    <h2>Get to know goth and gothic history</h2>
</div>
<br>
  <div class="row">
    <div class="col">
      <img src="https://i.pinimg.com/564x/21/89/c8/2189c8cd2064d1a765027fdba5e33ac7.jpg" class="float-left" alt="castle">
      <img src="https://i.pinimg.com/564x/72/5e/09/725e09260c75c1eda2e5539c11006062.jpg" class="float-left" alt="lantern">
      <img src="https://i.pinimg.com/564x/c5/49/28/c54928f1be2e88e1821a4f34c4243f32.jpg" class="rounded float-left" alt="sculpture">
    </div>
    <div class="col">
      <p>The first time the term was used was in the Renaissance to pejoratively refer to the period of art in the Middle Ages. Gothic, as a reference to the Gothic people, barbarians who attacked the Roman empire, precisely saying that those works were grotesque. During the period itself, especially in architecture, they just called it “French style”. It was extremely contradictory to refer to this artistic period like this, calling it crude, grotesque and even obscure. Artists reflected their religiosity all the time, in a way that would be exactly the opposite of barbarians. They also sought to value light in architecture, yet another contradiction in calling this period “dark”. But that's how the Renaissance people referred to him.</p>
      <p>In the 18th century, Romanticism emerged as a reaction to the Enlightenment, idealizing the Middle Ages, during this period Gothic literature emerged. It received this designation due to its setting in medieval settings. Also because it has become a synonym for dark, macabre and supernatural. Literature began to give more “life” to the term, followed by Gothicism, of English origin. Then the influence of this literary Gothic extended to cinema and other media.</p>
      <p>At the end of the 70s, under the influence of various artistic currents, including gothic (mainly literary), decadentism and ultra-romanticism, what would become the gothic subculture began. It emerged after the punk movement, which musically and politically influenced goth. The bands Joy Division, Bauhaus, The Sisters of Mercy and Siouxsie and the Banshees were pillars of the subculture that emerged between the end of the 70s and the beginning of the 80s. The basis of the subculture is music, not just gothic rock, but other aspects too. And this base speaks directly to other arts, which is why it is important to observe all forms of expressiveness present in the subculture.</p>
      <p>Currently, at a popular and well-known level, few people know that gothic is not an aesthetic, much less know how to tell when someone is or is not goth. But the intention is to be precisely a counterculture, a subculture and not something popular and homogeneous. This site seeks to resolve doubts and the most superficial curiosity about this.</p>
    </div>
    <div class="col">
      <img src="https://i.pinimg.com/564x/90/a0/b4/90a0b434406c353c176d778ffbd4d24d.jpg" class="rounded float-right" alt="outside">
      <img src="https://i.pinimg.com/564x/49/aa/93/49aa939a06c0fa126128a14ae8eb048e.jpg" class="rounded float-right" alt="forest">
      <img src="https://i.pinimg.com/564x/cf/f4/1f/cff41fe0c7da705b7b2b1aaa78c1c93e.jpg" class="rounded float-right" alt="gallery">
    </div>
    </div>
  </div>


{% endblock %}
