{% extends "base.html" %}

{% block content %}
<div class="header-literature">
    <h1>Literature</h1>
    <h2>Get to know more.</h2>
</div>
<div class="row">
    <div class="col">
       <img src="https://i.pinimg.com/564x/c9/b4/a1/c9b4a16c5e615e5871c68b454d9151f3.jpg" class="float-left" alt="otranto">
       <img src="https://i.pinimg.com/564x/14/51/5b/14515b8f839c0131def9b6af32481e70.jpg" class="float-left" alt="dracula">
       <img src="https://i.pinimg.com/564x/38/50/ff/3850ff61249917be34588b9adcb0676d.jpg" class="float-left" alt="dorian">
       </div>
       <div class="col">
        <p>“Gothic” was first used by the Renaissance in a pejorative way, to refer to medieval architecture that moved away from classical Greek. Even so, there was a revival of Gothic in architecture and this was reflected in 18th century English literature.</p>
        <p>The literary genre “romance” received a medieval setting with narratives that differ from the broad novel. With the publication of The Castle of Otranto (1864) by Horace Walpole, rightly considered the precursor of Gothic literature, the work would have been the panorama of what the genre would become. From this book, the notion of what would classify a “gothic” narrative was constructed. Not just the setting, but also the emotions expressed throughout the pages. It was also with her that the construction of the supernatural addressed in these narratives began, where the limits of reality and fiction (or fantasy) were surpassed.</p>
        <p>The supernatural was divided into two categories: the real, where the supernatural elements were in fact present, even if inexplicable (in a rational way) and the false, which had a rational explanation and lost the meaning of the word supernatural (in a literal way) . The fear, terror, horror, anguish, and apprehension developed thanks to the setting and events, which induce both characters and readers to experience such feelings, are important to classify these narratives. Edgar Allan Poe addresses these elements perfectly.</p>
        <p>Around that time, these two currents of concepts also emerged from Gothic literature (which would be important for cinema). Terror, which would be like this mysterious and supernatural presence, the imminent threat that the reader and the protagonists feel, something suggested. And the horror, which would be not just feeling the presence, but seeing with your own eyes (in this case reading), something monstrous and frightening, for this reason more graphic and descriptive. That's why there is a phrase that says “terror contracts the soul, but horror expands the soul.</p>
        <p>At the beginning of the 19th century, elements of modernity, such as technological advances, began to be increased in the works, even if the setting (not only in the setting, but also in the atmosphere) was medieval. An example is Frankenstein (1818) by Mary Shelley. Still on this issue of “Gothic” classification, we have works from the end of the 19th century, in the second wave of popularity of the genre, which also address the contrast of ancient, ancestral, mysterious and supernatural elements with modernity. Other great examples are Dracula (1897) by Bram Stoker, and The Picture of Dorian Gray (1890) by Oscar Wilde.</p>
        <p>In the 20th century, in addition to the presence of Gothic in theaters and literature, it spread to the emerging media. Music (precisely due to the influence of literature on the atmosphere and often on the lyrics), cinema and even games, until it became what we have today.</p>
    </div>
    <div class="col">
        <img src="https://i.pinimg.com/564x/88/0c/b3/880cb3c4a21df5e515f042fff0435377.jpg" class="float-right" alt="alanpoe">
        <img src="https://i.pinimg.com/564x/92/cb/cb/92cbcbedf6fbe0b16d2109db229898df.jpg" class="float-right" alt="frankenstein">
        <img src="https://i.pinimg.com/564x/67/01/e0/6701e0b577fbcfd3a2613d74ae63ca5e.jpg" class="float-right" alt="interview">
      </div>
</div>
{% endblock %}
