{% extends "base.html" %}

{% block content %}
<div class="header-sculpture">
    <h1>Sculpture</h1>
    <h2>One of the forgotten gothic arts</h2>
</div>
<br>
<div class="row">
    <div class="col">
       <img src="https://i.pinimg.com/564x/9e/1b/56/9e1b56bad51441b7c4bbe0204f2a9c91.jpg" class="float-left" alt="history1">
       <img src="https://i.pinimg.com/564x/88/e2/05/88e2055282ddd9d1a8ab577c2a1dd867.jpg" class="float-left" alt="history2">
       <img src="https://i.pinimg.com/564x/ff/bf/a6/ffbfa677a255d2b326d57ecd0bf09a19.jpg" class="float-left" alt="history3">
       </div>
       <div class="col">
        <p>Few people recognize Gothic sculptures as works in themselves, separate from architecture. This is due to the fact that most of the works are anonymous. Artists believed that their works were something greater than themselves. The focus should be this search for the divine, for the representation of the divine, for the teaching of the Bible. The quest to always seek to represent all of this with excellence is evident in techniques as good as sculptures from similar periods, perhaps even better. Even though the buildings were “parents” of the sculptures, sharing precisely the objectives and motivations, the same Gothic aura, we can highlight the sculptures of the buildings and observe them apart from the cathedrals.</p>
        <p>The curiosity that motivated Gothic artistic creations was precisely mystical (in the sense of religiosity, doubts about divine figures and how to represent them). Because it has a direct relationship with the artists' beliefs, it is a curiosity like that of a lover and not a “rational” curiosity, in the sense of science. The sculptures were mainly concentrated on the facades, with a function that was not only decorative, but didactic so that people, mostly illiterate, could learn about the divine figures. It also conveys the feeling of admiration with fear, in this sense we will talk more about gargoyles later. The sculptures and stained glass were like plants and flowers that grew from the forest that the buildings were, like a base. In the same way that one could pluck one of these flowers and talk about them individually, it is possible to talk about just the sculptures.</p>
        <p>The power of the sculptures was in suggesting, in suggestions and not in something objective. Precisely bringing the mystical elements, linked to religiosity, so the observer can feel what they see and not just hear an objective word about it. The complexity of monstrous, grotesque or suffering figures, represented with elegance. On the facades, the saints and the Holy Family.</p>
       </div>
       <div class="col">
         <img src="https://i.pinimg.com/564x/0d/cf/e8/0dcfe82521f83dd35c9cddf1eb641bb7.jpg" class="float-right" alt="history4">
         <img src="https://i.pinimg.com/564x/c5/e7/7c/c5e77ce7c5a8a1a0273a11f94f47960c.jpg" class="float-right" alt="history6">
         <img src="https://i.pinimg.com/564x/9d/b4/42/9db44215a2e33482956ef54286901716.jpg" class="float-right" alt="history5">
        </div>
 </div>
{% endblock %}
